main{
    padding: 0 1rem; 
    width: 100%;
    box-sizing: border-box;
    margin-top: 50vh;
}
main div{
    display: inline-block;
    width: 33.3333%;
    vertical-align: top;
    text-transform: none;
}
main div h2{
    text-transform: uppercase;
    margin-bottom: 1rem;
}
main li,
main p{
    margin-bottom: 1rem;
}