<html>
    <head>
        {{ partial "head.html" . }}
        <link rel="stylesheet" href="/css/project.css">
    </head>
    <body>
        {{ partial "navigation.html" . }}
        <main>
            <img id="mainImg" src="{{.Params.mainImg}}">
            <div class="leftNote">{{.Title}}</div>
           <div class="rightNote">{{.Params.Year}}</div>
        </main>
        <aside id="images">
           {{.Content}}
        </aside>
        <script src="/js/project.js"></script>
    </body>
</html>


