main{
    padding: 0 1rem; 
    width: 100%;
    box-sizing: border-box;
    margin-top: 50vh;
    font-size: 0;
}
main div{
    display: inline-block;
    width: 33.3333%;
    vertical-align: top;
    text-transform: none;
    box-sizing: border-box;
    padding-right: 2rem;
    font-size: 1rem;
}
main div:last-of-type{
    padding-right: 0;
}
main div h2{
    text-transform: uppercase;
    margin-bottom: 1rem;
}
main li,
main p{
    margin-bottom: 1rem;
}
@media (max-aspect-ratio: 1/1){
    main{
        margin-bottom: 20vh;
    }
    main div{
        width: 100%;
        padding: 0;
        margin-bottom: 3rem;
    }
    footer{
        position: initial;
    }
    footer ul li{
        width: auto;
    }
}