<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/about.css">
    </head>
    <body>
        <nav>
            <ul class="navlist">
                <li class="navitem left">
                    <a href="/">
                        Nora Handsley
                    </a>
                </li><li class="navitem right">
                    <ul>
                        <li>
                            <h1>
                                <a href="/about">
                                    About
                                </a>
                            </h1>
                        </li><li>
                            <a href="/projects">
                                Index
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <main>
            <div class="cv">
                <h2>CV</h2>
                <p>
                    Nora Lou Handsley, born 1998, in Cologne, now lives and works in Hamburg.
                 </p>
                 <p>
                    Her creative journey began in her teenage years with early experiences in photography, including roles as an assistant and intern in the field.
                </p>
                <p>
                    When not behind the camera, Nora finds inspiration on her skateboard or in music, which serves both as a soundtrack and an expression of her artistic journey.
                </p>
            </div><div class="exhibitions">
                <h2>Exhibitions</h2>
                <ul>
                    <li>2022 Multifokus (Gruppenausstellung), Kraftwerk Bille, Hamburg</li>
                    <li>2023 Von Steinen und Glashäusern (Gruppenausstellung), Darmstädter Tage der Fotografie</li>
                    <li>2024 Unmacht (Gruppenausstellung), Galerie Ladoens, Hamburg</li>
                    <li>2024 NRW Forum Düsseldorf (Deutscher Jugendfotopreis)</li>
                    <li>2025 Rautenstrauch-Joest-Museum Köln (Photoszene/ NextJugend)</li>
                    <li>2026 Good Luck Around Every Turn (Solo Exhibition), Galerie Ladoens, Hamburg</li>
                </ul>
            </div><div class="print">
                <h2>Print</h2>
                <ul>
                    <li>2023 Samt Magazin</li>
                    <li>2024 bpb Magazin Thema: Jugend (Cover und Innenteil)</li>
                    <li>2024 Neemodsch Magazin</li>
                </ul>
            </div>
        </main>
    </body>
</html>


