<nav>
            <ul class="navlist">
                <li class="navitem left">
                    <h1>
                        <a href="/">
                            Nora Handsley
                        </a>
                    </h1>
                </li><li class="navitem right">
                    <ul>
                        <li>
                            <a {{if eq (upper .Title) "ABOUT"}}class="active"{{end}} href="/about">
                                About
                            </a>
                        </li><li>
                            <a {{if eq (upper .Title) "INDEX"}}class="active"{{end}} href="/projects">
                                Index
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>