<nav>
            <ul class="navlist">
                <li class="navitem left">
                    <h1>
                        <a href="/">
                            <span class="backgroundOverflow">Nora Handsley</span> 
                        </a>
                    </h1>
                </li><li class="navitem right">
                    <ul>
                        <li>
                            <a {{if eq (upper .Title) "ABOUT"}}class="active"{{end}} href="/about">
                                <span class="backgroundOverflow">About</span>
                            </a>
                        </li><li>
                            <a {{if eq (upper .Title) "INDEX"}}class="active"{{end}} href="/projects">
                                <span class="backgroundOverflow">Index</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>