<html>
    <head>
        <title>Nora Handsley</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <nav>
            <ul class="navlist">
                <li class="navitem left">
                    <h1>
                        <a href="/">
                            Nora Handsley
                        </a>
                    </h1>
                </li><li class="navitem right">
                    <ul>
                        <li>
                            <a href="/about">
                                About
                            </a>
                        </li><li>
                            <a href="/projects">
                                Index
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <a id="link" href="/projects/heiligeili">
            <img id="image" src="/img/1.jpg">
        </a>
        <script src="/js/script.js"></script>
    </body>
</html>














